:root {
    --tg-theme-button-color-darker: color-mix(in srgb,var(--tg-theme-button-color, #50a8eb),#000 15%);
    --tg-theme-button-color-lighter: color-mix(in srgb,var(--tg-theme-button-color, #50a8eb), #fff 15%);
    --bg-color: var(--tg-theme-bg-color, #fff);
    --text-color: var(--tg-theme-text-color, #222);
    --secondary-bg-color: var(--tg-theme-secondary-bg-color, #efefef);
    --link-color: var(--tg-theme-link-color, #2678b6);
    --button-color: var(--tg-theme-button-color, #50a8eb);
    --button-text-color: var(--tg-theme-button-text-color, #fff)
}

body {
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 18px;
    margin: 0;
    padding: 0;
    color-scheme: var(--tg-color-scheme);
}

body.gray {
    background-color: var(--secondary-bg-color);
}

a {
    color: var(--link-color);
}

.grid {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
    left: auto;
    right: auto;
    padding: 0.5em;
    margin-bottom: 6vh;
}

.item {
    border: var(--tg-theme-button-color-darker) solid 0.1em;
    border-radius: 0.3em;
    height: 25vh;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.3s;
}

.item:hover {
    border-color: var(--tg-theme-button-color-lighter);
    transition: 0.3s;
}

.item:hover .title-wrapper {
    background-color: var(--tg-theme-button-color-lighter);
    transition: 0.3s;
}

.item .content {
    z-index: -1;
    padding: 1vh;
    font-size: 0.8em;
    color: var(--text-color)
}

.item .title-wrapper {
    background-color: var(--button-color);
    color: var(--text-color); 
    width: 100%;
    display: block;
    height: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    transition: 0.3s;
}

@keyframes fade_in_show {
    0% {
         opacity: 1;
         transform: scale(1)
    }

    100% {
         opacity: 0;
         transform: scale(0)
    }
}

.item {
    position: relative;
}

.item .content ~ img{
    display: none;
    position: absolute;
}

.item img {
    position: absolute;
    width: 100%;
    transition: 0.3s;
}

.item:hover img {
    opacity: 0;
} 

.item:hover .content {
    display: block;
}

.button {
    padding: 10px;
    text-align: center;
    border: var(--tg-theme-button-color-darker) solid 0.1em;
    border-radius: 0.3em;
    background-color: var(--button-color);
    color: var(--button-text-color); 
    transition: 0.3s;
}
  
.button:hover {
    background-color: var(--tg-theme-button-color-lighter);
    transition: 0.3s;
}

#footer {
    display: block;
    position: fixed; 
    width: 100%;
    left: 0;
    bottom: 0;
}
  
.footer-button {
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -2vh 30px 1px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: none;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    background-color: var(--tg-theme-button-color, #50a8eb);
    color: var(--tg-theme-button-text-color, #ffffff); 
    transition: 0.3s;
    /* padding: 0.4em 0 1em 0; */
    /* height: 50vh; */
}

.footer-button:hover {
    background-color: var(--tg-theme-button-color-lighter);
}

.form {
    --width-of-input: 100%;
    --border-height: 1px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: var(--button-color);
    --input-hovered-color: var(--secondary-bg-color);
    position: relative;
    width: var(--width-of-input);
    display: flex;
}
/* styling of Input */
.input {
    color: var(--tg-theme-text-color, #000);
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    transition: 0.3s;
}
/* styling of animated border */
.input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}
/* Hover on Input */
input:hover {
    background: var(--input-hovered-color);
}

input:focus {
    outline: none;
}
/* here is code of animated border */
input:focus ~ .input-border {
    width: 100%;
}
/* === if you want to do animated border on typing === */
/* remove input:focus code and uncomment below code */
/* input:valid ~ .input-border{
    width: 100%;
} */

.modal-button {
    padding: 10px;
    font-size: 12px;
    position: relative;
    display: inline;
    text-decoration: none;
    text-align: center;
    border: var(--tg-theme-button-color-darker) solid 0.1em;
    border-radius: 0.3em;
    background-color: var(--button-color);
    color: var(--button-text-color); 
    transition: 0.3s;
}
  
.modal-button:hover {
    background-color: var(--tg-theme-button-color-lighter);
    transition: 0.3s;
}

.modal {
    background-color: var(--bg-color);
}

.gallery {
    overflow: auto;
    /* background-color: var(--secondary-bg-color); */
    white-space: nowrap;
    padding: 0 10px;
}

.gallery .item {
    display: inline-block; 
    width: 50%;
    text-wrap: wrap;
}

* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar {
    /* Works on Chrome, Edge, and Safari */
    display: none;
}

.icon {
    position: absolute;
    filter: invert(1);
    transition: 0.3s;
    padding: 10px;
    height: 100%;
    bottom: 0;
}

.icon:hover {
    filter: invert(0.1);
}

.settings-button {
    display: block;
    width: 21px;
    height: 21px;
    margin: 0;
    z-index: 2;
    border-right: 1px solid var(--tg-theme-button-color-darker);
}

#footer {
    z-index: 100;
    display: flex;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}
  
.footer-button {
    text-decoration: none;
    bottom: 0;
    box-shadow: 0 -2vh 30px 1px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: none;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    background-color: var(--tg-theme-button-color, #50a8eb);
    color: var(--tg-theme-button-text-color, #ffffff);
    transition: 0.3s;
}
  
.footer-button:hover {
    background-color: var(--tg-theme-button-color-lighter);
}
  
.slidecontainer {
    align-items: center;
    display: inline-flex;
    width: 100%;
    padding: .5em;
}
.slidecontainer p {
    padding: .5em;
}
.slider {
    width: 98%;
} 
#popup {
    z-index: 1;
    background-color: var(--bg-color);
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: -1000px;
    transition: 0.3s;
}